
.btn-success:hover {
    background-color: #163abd !important;
}

.min-height-60 {
    min-height: 60vh;
}

/*
* Navbar CSS 
*/

.navtop {
    border-bottom: .5px solid #43474d;
}

.navtop a,
.navtop i {
    font-size: 12px;
}

.navbar {
    background-color: #23272A;
}

.navbar-brand {
    font-size: 1.5rem;
    line-height: 1rem;
}

.navbar-brand .subbrand {
    color: #dbdbdb;
    font-size: 0.7rem;
}

.navbar .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 15px;
    transition: all 0.4s;
}

.navbar .nav-item a:hover {
    background-color: #1f51ff;
    color: white;
    border-radius: 10%;
}

.search {
    padding: 0.3rem 1rem;
    outline: none;
    border: none;
    background-color: #43474d;
    border-radius: 15px 0px 0px 15px;
    border-right: none;
}

.search:focus {
    outline: none;
    box-shadow: none;
    border-right: none;
    background-color: #43474d;
    color: white;
}

.search-btn {
    outline: none;
    border: none;
    background-color: #1f51ff;
    border-radius: 0px 15px 15px 0px;
    border-left: none;
    color: white;
    transition: all 0.4s;
}

#search-btn:hover {
    background-color: #163abd;
    transition: all 0, 4s;
}

#cart-btn,
#user-btn {
    font-size: 20px;
    margin-left: 20px;
    padding-top: 10px;
    cursor: pointer;
    transform: 0.4s;
}

#notif-circle {
    background-color: #1f51ff;
}

.navbar-toggler {
    font-size: 20px;
    padding-top: 10px;
}

.bg-darker{
    background-color: #141618;
}

/*
 * Main Content
 */
.fa-chevron-left,
.fa-chevron-right {
    color: #1f51ff;
    font-size: 50px;
    transition: all 0.4s;
}

/*
 * Sidebar nav
 */
#sidebar-nav .nav-item .nav-link {
    color: #1f51ff;
    font-size: 0.9rem;
}

#sidebar-nav .nav-item .nav-link:hover {
    background-color: #43474d;
    color: #dbdbdb;
}

/*
 * Shop
 */

.shop-top-menu a:hover {
    color: #1f51ff !important;
}

.product-overlay {
    visibility: hidden;
}

.card-img:hover+.product-overlay,
.product-overlay:hover {
    visibility: visible !important;
}

.product-overlay a {
    background-color: #1f51ff;
    border: 0;
}

.product-overlay a:hover {
    background-color: #163abd;
}

.services {
    background-color: #31373b;
}

.services-icon-wap {
    background-color: #23272A;
    transition: all 0.4s;
}

.services-icon-wap:hover {
    background-color: #101314;
}

/*
 * Support area
 */
#support {
    background-color: #43474d;
}

/*
* Footer
*/

.newsletter p {
    font-size: 15px;
}

#footer-copyright {
    font-size: 0.8rem;
}