{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet"
        type="text/css"
        href="{% static "admin/css/dashboard.css" %}"/>
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{# {% block breadcrumbs %}{% endblock %} #}
{% block content %}
  <div id="content-main">
    {# Sales Charts #}
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-signal"></span>
        Sales in the last 2 weeks
      </div>
      <div class="panel-body">
        <canvas class="bg-white rounded" id="last2WeeksSalesChart">
        </canvas>
      </div>
    </div>
    {# App List #}
    {% if app_list %}
      <div class="panel panel-default" id="apps">
        <div class="panel-heading">
          <div class="btn-group apps-recent-actions">
            <button class="btn btn-default" title="{% trans "Apps" %}">
              <span class="glyphicon glyphicon-star-empty"></span>
            </button>
            <a href="#timeline" class="btn btn-default" title="{% trans "Apps" %}">
              <span class="glyphicon glyphicon-tasks"></span> {% trans "Apps" %}
            </a>
          </div>
        </div>
        <div class="table-responsive table-apps" style="margin-bottom: 1rem;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="title-head-apps">{% trans "Apps" %}</th>
                <th class="search-apps-models">
                  <form action="" method="get">
                    <div class="wrapper">
                      <span class="glyphicon glyphicon-search"></span>
                      <input placeholder="{% trans "Search" %}"
                             class="search form-control input-sm"
                             type="input"
                             name="q">
                      <span class="remove-this label label-info"><span class="glyphicon glyphicon-remove"></span> <span class="text"></span></span>
                    </div>
                  </form>
                </th>
                <th class="title-head-actions">{% trans "Action" %}</th>
              </tr>
            </thead>
            <tbody class="list">
              {% for app in app_list %}
                {% cycle ' bg-colored' '' as rowcolors silent %}
                {% for model in app.models %}
                  <tr class="app-{{ app.app_label }}{{ rowcolors }}">
                    {% if forloop.first %}
                      <td rowspan="{{ app.models|length }}"
                          class="app-name {% if forloop.parentloop.last %}last-app{% endif %}">
                        <a href="{{ app.app_url }}"
                           class="section"
                           title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                      </td>
                    {% endif %}
                    <td class="model-name model-{{ model.object_name|lower }}">
                      {% if forloop.first %}
                        <a href="{{ app.app_url }}"
                           class="extra-app-name"
                           title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                      {% endif %}
                      <a href="{% if model.admin_url %}{{ model.admin_url }}{% else %}#{% endif %}"
                         title="{{ app.name }} &raquo; {{ model.name }}"
                         {% if not model.admin_url %}class="disabled"{% endif %}>{{ model.name }}</a>
                    </td>
                    <td class="model-{{ model.object_name|lower }} actions">
                      <div class="btn-group btn-group-justified btn-group-actions">
                        <a href="{% if model.add_url %}{{ model.add_url }}{% endif %}"
                           role="button"
                           class="addlink btn {% if not model.add_url %}disabled{% endif %}"
                           data-toggle="tooltip"
                           data-placement="left"
                           title="{% trans 'Add' %}"><span class="glyphicon glyphicon-plus"></span></a>
                        {% if model.view_only %}
                          <a href="{{ model.admin_url }}"
                             role="button"
                             class="viewlink btn {% if not model.admin_url %}disabled{% endif %}"
                             title="{% trans 'View' %}"
                             data-toggle="tooltip"
                             data-placement="left"><span class="glyphicon glyphicon-eye-open"></span></a>
                        {% else %}
                          <a href="{% if model.admin_url %}{{ model.admin_url }}{% endif %}"
                             role="button"
                             class="changelink btn {% if not model.admin_url %}disabled{% endif %}"
                             title="{% trans 'Change' %}"
                             data-toggle="tooltip"
                             data-placement="left"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% endif %}
                        <a href="#"
                           class="btn search-in-model"
                           data-toggle="tooltip"
                           data-placement="left"
                           title="{% trans 'Search' %}"
                           data-model-name="{{ model.name }}"
                           data-url-model-name="{{ model.admin_url }}"><span class="glyphicon glyphicon-search"></span></a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% block recent_actions %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-pencil"></span>
            {% trans 'Recent actions' %} <small>({% firstof user.get_short_name user.get_username %})</small>
          </div>
          <div class="table-responsive">
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Action</th>
                  <th>When</th>
                  <th>See</th>
                </tr>
              </thead>
              <tbody>
                {% if not admin_log %}
                  <tr>
                    <td colspan="4">{% translate 'No actions yet.' %}</td>
                  </tr>
                {% else %}
                  {% for entry in admin_log %}
                    <tr>
                      <td>
                        {% if entry.is_addition %}
                          <i class="glyphicon glyphicon-plus text-success"></i>
                        {% elif entry.is_change %}
                          <i class="glyphicon glyphicon-pencil text-primary"></i>
                        {% else %}
                          <i class="glyphicon glyphicon-minus text-danger"></i>
                        {% endif %}
                      </td>
                      <td>
                        {% if entry.content_type %}
                          {% filter capfirst %}
                            {% trans entry.content_type.name %}
                          {% endfilter %}
                        {% else %}
                          {% trans 'Unknown content' %}
                        {% endif %}
                        <br/>
                        {{ entry.object_repr }}
                      </td>
                      <td>
                        <i class="glyphicon glyphicon-time"></i> {{ entry.action_time }}
                      </td>
                      <td>
                        {% if entry.is_deletion or not entry.get_admin_url %}
                          N/A
                        {% else %}
                          <a href="{{ admin_root_url }}{{ entry.get_admin_url }}">View</a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      {% endblock recent_actions %}
    {% else %}
      <p>{% trans "You don't have permission to view or edit anything." %}</p>
    {% endif %}
  </div>
{% endblock %}
{% block js %}
  <script src="{% static "bootstrap_admin/js/dashboard.js" %}"></script>
  <!-- Chart JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Last 2 Weeks Sales Chart -->
  <script>
      // Display sales chart
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if(this.readyState == 4 && this.status == 200) {
          // Show data in chart
          const salesChart = new Chart(
              document.getElementById('last2WeeksSalesChart'),
              {
                type: 'line',
                data: JSON.parse(this.responseText),
                options: {}
              }
          );
        }
      }
      xhttp.open("GET", "{% url 'clothingstore:sales_last2weeks' %}", true);
      xhttp.send();
  </script>
{% endblock js %}
