{% extends 'clothingstore/base.html' %}
{% load widget_tweaks %}
{# Title #}
{% block title %}{{ product.title }} - Morpheus Healer Clothing{% endblock %}
{# Products #}
{% block content %}
    <!-- Open Content -->
    <section class="bg-darker d-flex align-items-center min-height-60 py-4">
        <div class="container">
            <div class="row g-3">
                <!-- col end -->
                <div class="col-lg-7">
                    <div class="card bg-dark text-light">
                        <div class="card-body">
                            <form method="post">
                                <div class="row g-4 mb-3">
                                    <div class="col-sm-8">
                                        <h3 class="display-5">{{ product.title }}</h3>
                                        <div class="fs-6">
                                            {{ product.units_in_stock }} items available
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="small mb-1">SKU: {{ product.stock_keeping_unit }}</div>
                                        <div class="fs-5 mb-2">
                                            Php{{ product.unit_price|floatformat:2 }}
                                        </div>
                                    </div>
                                </div>
                                {% if form.quantity.errors %}
                                    {% for error in form.quantity.errors %}<p class="text-danger">{{ error }}</p>{% endfor %}
                                {% endif %}
                                <div class="d-flex">
                                    {% csrf_token %}
                                    {% if product.units_in_stock > 0%}
                                        {% render_field form.quantity class="form-control text-center me-3" style="max-width: 5rem;" %}
                                        <button class="btn btn-primary flex-shrink-0" type="submit">
                                            <i class="fa-solid fa-shopping-cart"></i>
                                            Add to cart
                                        </button>
                                    {% else %}
                                        <p class="text-danger">This product is out of stock.</p>
                                    {% endif %}
                                </div>
                                <hr>
                                <div class="d-block lead">{{ product.body|default_if_none:"Description coming soon!"|safe }}</div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 order-lg-first">
                    {% if product.image_count > 0 %}
                        <div class="card bg-dark text-light mb-3">
                            <img class="img-fluid"
                                src="{{ product.productimage_set.all.0.image.url }}"
                                alt="{{ product.productimage_set.all.0.alternate_text }}"/>
                        </div>
                        <div class="card bg-dark text-light mb-3 p-2">
                            <div class="row d-flex justify-content-center g-2">
                                {% for image_entity in product.productimage_set.all %}
                                    <div class="col-4 text-center">
                                        <img class="img-fluid w-100"
                                            src="{{ image_entity.image.url }}"
                                            alt="{{ image_entity.alternate_text }}"/>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="card bg-dark text-light mb-3">
                            <img class="img-fluid"
                                src="https://www.alleygators.com.au/wp-content/uploads/2017/10/img-placeholder-02.jpg"
                                alt="Placeholder image"/>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
