{% extends 'clothingstore/base.html' %}
{% load static %}
{% load mathfilters %}
{# Title #}
{% block title %}Your Cart{% endblock %}
{# Products #}
{% block content %}
    {# Banners #}
    {% include 'clothingstore/banner.html' %}
    <div class="bg-darker">
        <div class="row p-4">
            <div class="col-md-4 col-xs-12 bg-dark text-light my-3 py-3">
                <h1>
                    Checkout Billing
                </h1>
                <form>
                    <div class="row g-3 align-items-center">
                        <div class="col-6">
                          <label for="billing" class="col-form-label">Billing Address</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-6 mt-1">
                            <input type="text" id="street-number" class="form-control" placeholder="street-number" required>
                        </div>
                        <div class="col-12 col-sm-6 mt-1">
                            <input type="text" id="barangay" class="form-control" placeholder="barangay" required>
                        </div>
                        <div class="col-12 col-sm-6 mt-1">
                            <input type="text" id="city" class="form-control" placeholder="city" required>
                        </div>
                        <div class="col-12 col-sm-6 mt-1">
                            <input type="number" id="zip" class="form-control" placeholder="zip" required>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center pt-4">
                        <div class="col-6">
                          <label for="billing" class="col-form-label">Shipping Address</label>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="shipping-checkbox">
                            <label class="form-check-label" for="shipping-checkbox">Same as Billing Address</label>
                          </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-6 mt-1">
                            <input type="text" id="street-number" class="form-control" placeholder="street-number" required>
                        </div>
                        <div class="col-12 col-sm-6 mt-1">
                            <input type="text" id="barangay" class="form-control" placeholder="barangay" required>
                        </div>
                        <div class="col-12 col-sm-6 mt-1">
                            <input type="text" id="city" class="form-control" placeholder="city" required>
                        </div>
                        <div class="col-12 col-sm-6 mt-1">
                            <input type="number" id="zip" class="form-control" placeholder="zip" required>
                        </div>
                    </div>
                  </form>
            </div>

            <div class="col-md-8 col-xs-12">
                <div class="bg-darker text-light py-3">
                    <div class="table-responsive bg-dark">
                        <table class="table table-striped text-light">
                            <thead>
                                <tr>
                                    <th colspan="2">Product</th>
                                    <th>Qty</th>
                                    <th>Unit Price</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart.values %}
                                <tr>
                                    <td>
                                        {% if item.product.productimage_count > 0 %}
                                        <img src="{{ item.product.productimage_set.all.0.image.url }}" height="50px">
                                        {% else %}
                                        <img src="{% static 'clothingstore/img/placeholder-200x200.jpg' %}" height="50px">
                                        {% endif %}
                                    </td>
                                    <td class="text-light">{{ item.product.title }}</td>
                                    <td class="text-light">{{ item.quantity }}x</td>
                                    <td class="text-light">Php{{ item.product.unit_price|floatformat:2 }}</td>
                                    <td class="text-light">Php{{ item.product.unit_price|mul:item.quantity|floatformat:2 }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="{% url 'clothingstore:add_to_cart' item.product.stock_keeping_unit %}"
                                                class="btn btn-sm btn-primary">
                                                <i class="bi bi-pen"></i>
                                                <span class="d-none d-md-inline">Change</span>
                                            </a>
                                            <a href="#"
                                                class="btn btn-sm btn-danger">
                                                <i class="bi bi-trash"></i>
                                                <span class="d-none d-md-inline">Remove</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        {% if item.product.productimage_count > 0 %}
                                        <img src="{{ item.product.productimage_set.all.0.image.url }}" height="50px">
                                        {% else %}
                                        <img src="{% static 'clothingstore/img/placeholder-200x200.jpg' %}" height="50px">
                                        {% endif %}
                                    </td>
                                    <td class="text-light">{{ item.product.title }}</td>
                                    <td class="text-light">{{ item.quantity }}x</td>
                                    <td class="text-light">Php{{ item.product.unit_price|floatformat:2 }}</td>
                                    <td class="text-light">Php{{ item.product.unit_price|mul:item.quantity|floatformat:2 }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="{% url 'clothingstore:add_to_cart' item.product.stock_keeping_unit %}"
                                                class="btn btn-sm btn-primary">
                                                <i class="bi bi-pen"></i>
                                                <span class="d-none d-md-inline">Change</span>
                                            </a>
                                            <a href="#"
                                                class="btn btn-sm btn-danger">
                                                <i class="bi bi-trash"></i>
                                                <span class="d-none d-md-inline">Remove</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        {% if item.product.productimage_count > 0 %}
                                        <img src="{{ item.product.productimage_set.all.0.image.url }}" height="50px">
                                        {% else %}
                                        <img src="{% static 'clothingstore/img/placeholder-200x200.jpg' %}" height="50px">
                                        {% endif %}
                                    </td>
                                    <td class="text-light">{{ item.product.title }}</td>
                                    <td class="text-light">{{ item.quantity }}x</td>
                                    <td class="text-light">Php{{ item.product.unit_price|floatformat:2 }}</td>
                                    <td class="text-light">Php{{ item.product.unit_price|mul:item.quantity|floatformat:2 }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="{% url 'clothingstore:add_to_cart' item.product.stock_keeping_unit %}"
                                                class="btn btn-sm btn-primary">
                                                <i class="bi bi-pen"></i>
                                                <span class="d-none d-md-inline">Change</span>
                                            </a>
                                            <a href="#"
                                                class="btn btn-sm btn-danger">
                                                <i class="bi bi-trash"></i>
                                                <span class="d-none d-md-inline">Remove</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <thead>
                                <tr>
                                    <th colspan="2">Subtotal</th>
                                    <th></th>
                                    <th></th>
                                    <th>240</th>
                                </tr>
                                <tr>
                                    <th colspan="2">Delivery Fee</th>
                                    <th></th>
                                    <th></th>
                                    <th>50</th>
                                </tr>
                                <tr>
                                    <th colspan="2">Total</th>
                                    <th></th>
                                    <th></th>
                                    <th>5000</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}