<!-- Footer -->
<footer class="bg-dark pt-5 pb-2">
    <div class="container">
        <div class="row d-flex justify-content-center text-light">
            <div class="col-8 col-md-3 mb-5">
                <h6 class="fw-bold">LOCATION</h6>
                <hr>
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-house"></i>
                    </div>
                    <div class="col-10">
                        347 Bourou Village
                        <br>
                        Watatsumi Island,
                        <br>
                        Region of Inazuma
                        <br>
                        Teyvat
                    </div>
                    <div class="col-2">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="col-10">
                        <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                    </div>
                    <div class="col-2">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="col-10">
                        <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-md-3 mb-5">
                <h6 class="fw-bold">NEWSLETTER</h6>
                <hr>
                <p>
                    Subscribe to our newsletter to hear about our latest
                    collections, offers and news about the brand.
                </p>
                <form class="d-flex">
                    <input class="form-control pe-2 search"
                           type="Email"
                           placeholder="Enter your email here"
                           aria-label="email">
                    <button class="search-btn px-3" type="submit">
                        <i class="fas fa-envelope"></i>
                    </button>
                </form>
            </div>
            <div class="col-8 col-md-3 mb-5">
                <h6 class="fw-bold">CONNECT WITH US</h6>
                <hr>
                <div>
                    <a class="text-light"
                       href="https://fb.com/templatemo"
                       target="_blank"
                       rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center text-light fs-light" id="footer-copyright">
            <i class="fa-regular fa-registered"></i>
            2022 Morpheus Healer Clothing, All Rights Reserved.
            Website is subject to the Philippine E-Commerce Law of 2000
            and the Data Privacy Act of 2012.
        </div>
    </div>
</footer>