{% extends 'clothingstore/base.html' %}
{% load widget_tweaks %}
{# Title #}
{% block title %}Login to Morpheus Healer Clothing{% endblock %}
{# Products #}
{% block content %}
    <div class="bg-darker text-light d-flex align-items-center min-height-60 py-4">
        <section class="container">
            <h1 class="text-center mb-3">Login</h1>
            <p class="text-center mb-3">Login with your existing social media accounts to proceed.</p>
            <div class="row d-flex justify-content-center align-items-center">
                <form method="post" class="col-md-6">
                    {% csrf_token %}
                    <div class="d-grid gap-3">
                        <a href="{% url 'social:begin' 'facebook' %}" class="btn d-block text-white" style="background-color: #3b5998;">
                            <i class="fa-brands fa-facebook"></i>
                            Login with Facebook
                        </a>
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn d-block btn-light">
                            <img src="https://img.icons8.com/color/16/000000/google-logo.png">
                            Login with Google
                        </a>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}
