{% extends 'clothingstore/base.html' %}
{% load widget_tweaks %}
{# Title #}
{% block title %}Thank you - Morpheus Healer Clothing{% endblock %}
{# Products #}
{% block content %}
<div class="bg-darker text-light d-flex align-items-center min-height-60 py-4">
    <section class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6 text-center">
                <h1>Thank you!</h1>
                <p>You have been successfully logged out.</p>
                <a href="{% url "clothingstore:index" %}" class="btn btn-primary">
                    Back to Homepage
                </a>
                <a href="{% url "clothingstore:login" %}" class="btn btn-success">
                    Login
                </a>
            </div>
        </div>
    </section>
</div>
{% endblock %}
