<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <a class="navbar-brand text-light" style="line-height: 1rem;" href="{% url 'clothingstore:index' %}">
            MORPHEUS HEALER <br>
            <span class="subbrand">Clothing Store</span>
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa-solid fa-list text-light"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'clothingstore:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'clothingstore:store' %}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'clothingstore:about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <div class="navbar align-self-center d-flex">
                <form class="d-flex">
                    <input class="form-control pe-2 search"
                           type="search"
                           placeholder="Search"
                           aria-label="Search">
                    <button class="search-btn px-3" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-cart-arrow-down text-light mr-1" id="cart-btn"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill text-light"
                              id="notif-circle">7</span>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-user text-light mr-3" id="user-btn"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill text-light"
                              id="notif-circle">+99</span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</nav>
